<div class="d-flex flex-column flex-sm-row justify-content-between">
    <div>
        <h2 class="list-title">Not devoured:</h2>
        <ul class="list-content"
            id="not-d-list">
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div>
        <h2 class="list-title ">Devoured:</h2>
        <ul class="list-content"
            id="d-list">
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devour=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>