body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: darkslategrey !important;
}

:root {
  --light: linen;
  --dark: darkslategrey;
  --primary: khaki;
  --secondary: thistle;
}

.bg-light {
  background-color: var(--light) !important;
}
.bg-dark {
  background-color: var(--dark) !important;
}
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}

/* Icon Styling */
.material-icons {
  display: inline-flex;
  vertical-align: top;
}
.material-icons.md-32 {
  font-size: 32px;
}
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.d-flex {
  flex-flow: wrap;
}

.card {
  min-width: 20rem;
  background-color: transparent;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: whitesmoke;
}

.gradient {
  background: rgb(230, 230, 250);
  background: linear-gradient(
    360deg,
    rgba(230, 230, 250, 1) 28%,
    rgba(216, 191, 216, 1) 100%
  ) !important;
}

@media (max-width: 690px) {
  .d-flex {
    flex-direction: column;
  }
}
