body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: rgb(230, 230, 250);
  background: linear-gradient(
    360deg,
    rgba(230, 230, 250, 1) 28%,
    rgba(216, 191, 216, 1) 100%
  ) !important;
}

:root {
  --light: transparent;
  --secondary: thistle;
}

.container {
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addBurger {
  flex-direction: column;
}
#burgerImg {
  padding-left: 1rem;
}

.bg-light {
  background-color: var(--light) !important;
}
.bg-dark {
  background-color: var(--dark) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}

.btn-secondary {
  background-color: thistle;
  border-color: thistle;
}
.btn-secondary:hover {
  background-color: plum;
  border-color: plum;
}
.btn-secondary:active,
.btn-secondary:focus {
  background-color: plum;
  border-color: plum!important;
  box-shadow: 0 0 0 0.2rem plum!important;
}

.btn-light {
  color: white;
  background-color: pink;
  border-color: pink;
}
.btn-light:hover {
  color: white;
  background-color: palevioletred;
  border-color: palevioletred;
}
.btn-light:active,
.btn-light:focus {
  color: white;
  background-color: palevioletred;
  border-color: palevioletred!important;
  box-shadow: 0 0 0 0.2rem palevioletred!important;
}

ul {
  list-style: none;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

@media (max-width: 1014px) {
  .container {
    width: fit-content;
    height: fit-content;
    margin-top: 3rem;
  }
  .d-flex {
    flex-direction: column;
    justify-content:space-evenly;
  }
  input {
    width: 122px!important;
  }
}